In [1]:
import pandas as pd
import numpy as np

<h2>Nearest Neighbour</h2>

In [36]:
# Creating dataset
train = {
    "attr1": [10,4,1,3,4,8,1],
    "attr2": [2,4,9,10,6,8,8],
    "class": ['Yes','No','Yes','Yes','No','No','Yes']
}
test = {
    "attr1": [2,7,1],
    "attr2": [7,7,11]
}
train = pd.DataFrame(train)
test = pd.DataFrame(test)

train.head()

   attr1  attr2 class
0     10      2   Yes
1      4      4    No
2      1      9   Yes
3      3     10   Yes
4      4      6    No

In [33]:
train.index

RangeIndex(start=0, stop=7, step=1)

In [51]:
# K-NN for two features
def calculate_distance(train, test):
    # we are using manhantance distance
    # d = |x2-x1| + |y2-y1|

    X_train = np.array(train.iloc[:,:-1])
    X_test = np.array(test)

    # defining matrix size
    n = X_train.shape[0]
    m = X_test.shape[0]
    distance_matrix = np.zeros((n,m))

    for i in range(n):
        for j in range(m):
            distance = np.sqrt((X_test[j][0] - X_train[i][0])**2 +  (X_test[j][1] - X_train[i][1])**2)
            distance_matrix[i][j] = round(distance,2)

    distance_matrix = pd.DataFrame(distance_matrix)
    distance_matrix = pd.concat([distance_matrix, train.iloc[:,-1]],axis=1)
    return distance_matrix
        
distance_matrix = calculate_distance(train, test)

In [52]:
distance_matrix

      0     1      2 class
0  9.43  5.83  12.73   Yes
1  3.61  4.24   7.62    No
2  2.24  6.32   2.00   Yes
3  3.16  5.00   2.24   Yes
4  2.24  3.16   5.83    No
5  6.08  1.41   7.62    No
6  1.41  6.08   3.00   Yes

array([1.41, 2.24, 2.24])

In [75]:
# predicting for first sample when k = 3
k=3
k_instances = np.sort(distance_matrix[0])[:k]
pred = distance_matrix[distance_matrix[0].isin(k_instances)]['class'].max()
pred

'Yes'

In [90]:
x = np.array([1, 2, 3])
y = np.array([2, 4, 4])
z = (x-y)**2

z = np.sum(z)
print(z)

6