In [7]:
import pandas as pd
import numpy as np

In [6]:
# We are importing dataset form UC Irvine Machine Learning Repository

from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
iris = fetch_ucirepo(id=53) 
  
# data (as pandas dataframes) 
X = iris.data.features 
y = iris.data.targets

In [10]:
y.head()

         class
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [14]:
# Basic preprocessing
# remooving Iris for class
y['class'] = y['class'].str.replace("Iris-","")
y.head()

C:\Users\saraw\AppData\Local\Temp\ipykernel_5392\2244269996.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y['class'] = y['class'].str.replace("Iris-","")

    class
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

<h2>Nearest Neighbour</h2>
<p>This is known as 1-KNN</p>

In [10]:
# Creating dataset
train = {
    "attr1": [10,4,1,3,4,8,1],
    "attr2": [2,4,9,10,6,8,8],
    "class": ['Yes','No','Yes','Yes','No','No','Yes']
}
test = {
    "attr1": [2,7,1],
    "attr2": [7,7,11]
}
train = pd.DataFrame(train)
test = pd.DataFrame(test)

train.head()

   attr1  attr2 class
0     10      2   Yes
1      4      4    No
2      1      9   Yes
3      3     10   Yes
4      4      6    No

In [ ]:
def calculate_distance(train, test):
    # we are using manhantance distance
    # d = |x2-x1| + |y2-y1|
    rows = train.shape[0]
    columns = test.shape[0]

    for i in range(rows):